# Gradle
.gradle/
build/
*/build/

# Kotlin
.kotlin/
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.DS_Store

# Logs
*.log

# OS
Thumbs.db
Desktop.ini

# Temporary / local scripts
run.bat
